In [43]:
!pwd

/Users/mtl/Projets/itescia_esiee/esiee_2022_ia_tp_titanic

In [44]:
df = pd.read_csv('datas/train.csv')

In [45]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [46]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [47]:
import pandas as pd

In [55]:
from sklearn.model_selection import train_test_split

y = df.Survived
x = df.drop(["Survived"], axis=1)

X_train, x_test, y_train, y_test = train_test_split(x, y, test_size = .2)

In [58]:
#create first model

from sklearn.ensemble import RandomForestClassifier

In [59]:
# n_estimators = nombre d'arbres
# random_state = le hazard à 23
# max_features = le nombre de colonne sélectionner par itération au hazard

rf = RandomForestClassifier(n_estimators=100, random_state=23, max_features=2)

In [60]:
rf.fit(x=x_train, y=y_train)

NameError: name 'x_train' is not defined

In [52]:
from pandas_profiling import ProfileReport as pd_profil

In [53]:
df.drop(["Name","Sex","Ticket","Cabin","Embarked"], axis=1, inplace=True)